{{ $currentPage := . }}
<div>
  <h2 class="">{{ .CurrentSection.Title }}</h2>
  <ul class="list-none p-0 m-0 font-bold">
    {{ range .CurrentSection.Pages }}
      {{ if eq $currentPage.RelPermalink .RelPermalink }}
        <li class="font-bold py-2 px-3 border-l-2 border-blue-700 bg-gray-100 truncate">
          {{ if eq .CurrentSection.Title "News" }}
            <div class="text-sm font-normal text-gray-600">{{ .Date.Format "Jan. 2, 2006" }}</div>
          {{ end }}
          <div>{{ .Title }}</div>
        </li>
      {{ else }}
        <li>
          <a href="{{ .RelPermalink }}" class="inline-block w-full text-gray-500 no-underline py-2 pl-3 border-l border-gray-200">
          {{ if eq .CurrentSection.Title "News" }}
            <div class="text-sm font-normal text-gray-500">{{ .Date.Format "Jan. 2, 2006" }}</div>
          {{ end }}
            <div class="truncate">{{ .Title }}</div>
          </a>
        </li>
      {{ end }}
    {{ end }}
  </ul>
</div>
